___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Project Exercise - 

# The Data

The dataset contains a list of all stocks included in the SP500 and associated key financials. <br />

Note that there are multiple viable solutions for most of the tasks!


Acknowledgements
----------------------------
The dataset was originally provided on https://datahub.io/core/s-and-p-500-companies-financials and is licensed under Open Data Commons Public Domain Dedication and License. (https://opendatacommons.org/licenses/pddl/1-0/)

**Task: Import the necessary libraries**

In [1]:
# CODE HERE
import pandas as pd

**Task: Read the two datasets provided in the current directory (also available in the DATA folder. (The file names are: constituents.csv and constituents-financials.csv)**

In [2]:
# CODE HERE
constituents = pd.read_csv("constituents.csv")
financials = pd.read_csv("constituents-financials.csv")

**Task: List all columns of the two datasets. Additionally retrieve the datatype for each column**

In [5]:
# CODE HERE
constituents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  505 non-null    object
 1   Name    505 non-null    object
 2   Sector  505 non-null    object
dtypes: object(3)
memory usage: 12.0+ KB

In [6]:
financials.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          505 non-null    object
 1   Price           505 non-null    float64
 2   Price/Earnings  503 non-null    float64
 3   Dividend Yield  505 non-null    float64
 4   Earnings/Share  505 non-null    float64
 5   52 Week Low     505 non-null    float64
 6   52 Week High    505 non-null    float64
 7   Market Cap      505 non-null    int64
 8   EBITDA          505 non-null    float64
 9   Price/Sales     505 non-null    float64
 10  Price/Book      497 non-null    float64
 11  SEC Filings     505 non-null    object
dtypes: float64(9), int64(1), object(2)
memory usage: 47.5+ KB

**Task: Print the first 5 rows of both datasets**

In [7]:
# CODE HERE
constituents.head()

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

In [8]:
financials.head()

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...

**Task: Drop the SEC Filings column**

In [9]:
# CODE HERE
financials = financials.drop(["SEC Filings"], axis=1)

**Task: Set the Symbol column to the index in the financials dataset**

In [11]:
# CODE HERE
financials = financials.set_index("Symbol")

KeyError: "None of ['Symbol'] are in the columns"

In [12]:
financials.head()

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34
AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35
ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19
ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14
ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62

**Task: What are the 10 largest companies according to market cap?**

In [48]:
# CODE HERE
constituents = constituents.set_index("Symbol")
constituents.join(financials.nlargest(10, "Market Cap")["Market Cap"], how="inner")

                        Name                  Sector    Market Cap
Symbol
GOOGL   Alphabet Inc Class A  Information Technology  733823966137
GOOG    Alphabet Inc Class C  Information Technology  728535558140
AMZN          Amazon.com Inc  Consumer Discretionary  685873374731
AAPL              Apple Inc.  Information Technology  809508034020
BAC     Bank of America Corp              Financials  321478200969
XOM        Exxon Mobil Corp.                  Energy  326148660000
FB            Facebook, Inc.  Information Technology  523423036576
JNJ        Johnson & Johnson             Health Care  353062464971
JPM     JPMorgan Chase & Co.              Financials  386613611000
MSFT         Microsoft Corp.  Information Technology  689978437468

**Task: Return all information about the 10 largest companies according by market cap**

In [17]:
# CODE HERE
financials.nlargest(10, "Market Cap")

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
AAPL,155.15,16.86,1.579541,9.20,180.1000,131.1200,809508034020,7.938600e+10,3.458609,5.66
GOOGL,1007.71,31.48,0.000000,22.27,1198.0000,824.3000,733823966137,3.421700e+10,6.801692,4.70
GOOG,1001.52,40.29,0.000000,22.27,1186.8900,803.1903,728535558140,3.271400e+10,6.772653,4.67
MSFT,85.01,25.76,1.874791,2.97,96.0700,63.2200,689978437468,4.107900e+10,7.113097,9.49
AMZN,1350.50,296.16,0.000000,6.16,1498.0000,812.5000,685873374731,1.613200e+10,3.927053,24.28
FB,171.58,27.90,0.000000,5.39,195.3200,132.4400,523423036576,2.362400e+10,13.241967,7.08
JPM,107.88,15.43,1.984584,6.30,117.3529,81.6350,386613611000,0.000000e+00,3.371499,1.60
JNJ,126.36,17.31,2.556688,0.39,148.3200,113.1500,353062464971,2.243000e+10,4.632622,4.74
XOM,76.07,21.37,4.003120,1.88,89.3000,76.0500,326148660000,3.905200e+10,1.770194,1.85
BAC,29.74,16.34,1.536000,1.55,32.6700,22.0700,321478200969,0.000000e+00,3.201187,1.24

Note: The difference between GOOG and GOOGL is, that GOOG shares have no voting rights

**Task: Drop GOOG**

In [18]:
# CODE HERE
financials.nlargest(10, "Market Cap").drop("GOOG", axis=0)

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
AAPL,155.15,16.86,1.579541,9.20,180.1000,131.120,809508034020,7.938600e+10,3.458609,5.66
GOOGL,1007.71,31.48,0.000000,22.27,1198.0000,824.300,733823966137,3.421700e+10,6.801692,4.70
MSFT,85.01,25.76,1.874791,2.97,96.0700,63.220,689978437468,4.107900e+10,7.113097,9.49
AMZN,1350.50,296.16,0.000000,6.16,1498.0000,812.500,685873374731,1.613200e+10,3.927053,24.28
FB,171.58,27.90,0.000000,5.39,195.3200,132.440,523423036576,2.362400e+10,13.241967,7.08
JPM,107.88,15.43,1.984584,6.30,117.3529,81.635,386613611000,0.000000e+00,3.371499,1.60
JNJ,126.36,17.31,2.556688,0.39,148.3200,113.150,353062464971,2.243000e+10,4.632622,4.74
XOM,76.07,21.37,4.003120,1.88,89.3000,76.050,326148660000,3.905200e+10,1.770194,1.85
BAC,29.74,16.34,1.536000,1.55,32.6700,22.070,321478200969,0.000000e+00,3.201187,1.24

**Task: How many companies have a dividend yield > 4% ?**

In [21]:
# CODE HERE
financials[financials["Dividend Yield"] > 4].shape[0]

37

**Task: What is the mean Earnings per Share for all companies with a market cap > 1e+11**

In [24]:
# CODE HERE
financials.loc[financials["Market Cap"] > 1e11, "Earnings/Share"].mean()

5.083461538461538

**Task: How many companies have a positive earnings per shares ratio?**

In [28]:
# CODE HERE
financials[financials["Earnings/Share"] > 0].shape[0]

453

**Task: Which company pays the highest dividend yield? What was its 52 week high?**

In [57]:
# CODE HERE
financials.loc[financials["Dividend Yield"].idxmax()]

Price                    1.620000e+01
Price/Earnings           8.350000e+00
Dividend Yield           1.266120e+01
Earnings/Share           1.160000e+00
52 Week Low              2.761000e+01
52 Week High             1.316100e+01
Market Cap               1.823720e+10
EBITDA                   5.577000e+09
Price/Sales              1.479598e+00
Price/Book               1.390000e+00
Market Cap in Billion    1.823720e+01
Name: CTL, dtype: float64

**Task: Return the company with the largest spread between 52 weeks high and low**

In [35]:
financials.head()

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34
AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35
ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19
ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14
ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62

In [58]:
# CODE HERE
abs(financials["52 Week High"] - financials["52 Week Low"]).idxmax()

'AMZN'

**Task: Return all companies with a price between \\$ 50 and \\$ 100**

In [37]:
# CODE HERE
financials[financials["Price"].between(50, 100)]

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
AOS,60.24,27.76,1.147959,1.70,68.390,48.925,10783419933,6.010000e+08,3.575483,6.35
ABT,56.27,22.51,1.908982,0.26,64.600,42.280,102121042306,5.744000e+09,3.740480,3.19
ATVI,65.83,31.80,0.431903,1.28,74.945,38.930,52518668144,2.704000e+09,10.595120,5.16
AFL,83.25,12.24,2.429907,11.01,91.730,68.800,33422948000,0.000000e+00,1.542934,1.53
A,65.05,27.45,0.875698,2.10,75.000,49.230,21984606918,1.094000e+09,6.493563,4.56
...,...,...,...,...,...,...,...,...,...,...
XLNX,62.82,27.19,2.090488,2.32,77.260,54.990,17064975551,8.454680e+08,7.101206,7.22
XYL,70.24,30.94,1.170079,1.83,76.810,46.860,12915021000,7.220000e+08,2.726209,5.31
YUM,76.30,27.25,1.797080,4.07,86.930,62.850,27003303098,2.289000e+09,6.313636,212.08
ZION,50.71,17.73,1.480933,2.60,55.610,38.430,10670678640,0.000000e+00,3.794579,1.42
ZTS,71.51,32.80,0.682372,1.65,80.130,52.000,35991109776,1.734000e+09,9.280896,18.09

**Task: The market cap is really hard to read. Create a new column called "Market Cap in Billion" which shows the market cap in billions**

In [39]:
# CODE HERE
financials["Market Cap in Billion"] = financials["Market Cap"] / 1e9
financials.head()

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Market Cap in Billion
Symbol,,,,,,,,,,,
MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,138.721055
AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,10.783420
ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,102.121042
ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,181.386347
ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,98.765856

**Task: Is there a correlation between the market cap and the Dividend Yield?**

In [42]:
# CODE HERE
financials[["Market Cap", "Dividend Yield"]].corr()

                Market Cap  Dividend Yield
Market Cap        1.000000       -0.021794
Dividend Yield   -0.021794        1.000000

**Task: Merge the financials dataframe with the constituents dataframe**

In [49]:
# CODE HERE
constituents.join(financials)

,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Market Cap in Billion
Symbol,,,,,,,,,,,,,
MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,138.721055
AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,10.783420
ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,102.121042
ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,181.386347
ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,98.765856
...,...,...,...,...,...,...,...,...,...,...,...,...,...
XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,12.915021
YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,27.003303
ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,24.454698
ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,10.670679
ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,35.991110

**Task: Print all sectors. How often does each sector occur?**

In [50]:
# CODE HERE
constituents["Sector"].value_counts()

Consumer Discretionary        84
Information Technology        70
Financials                    68
Industrials                   67
Health Care                   61
Consumer Staples              34
Real Estate                   33
Energy                        32
Utilities                     28
Materials                     25
Telecommunication Services     3
Name: Sector, dtype: int64

**Task: Replace Information Technology by "IT"**

In [54]:
#CODE HERE
constituents["Sector"] = constituents["Sector"].replace({"Information Technology": "IT"})
constituents.head()

                       Name       Sector
Symbol
MMM              3M Company  Industrials
AOS         A.O. Smith Corp  Industrials
ABT     Abbott Laboratories  Health Care
ABBV            AbbVie Inc.  Health Care
ACN           Accenture plc           IT

**Task: Add a \$ before the stock price**

In [56]:
# CODE HERE
import numpy as np

def to_stock_price(price):
    return "$" + str(price)

np.vectorize(to_stock_price)(financials["Price"])

array(['$222.89', '$60.24', '$56.27', '$108.48', '$150.51', '$65.83',
       '$145.41', '$185.16', '$109.63', '$11.22', '$10.06', '$178.0',
       '$179.11', '$83.25', '$65.05', '$152.8', '$62.49', '$64.04',
       '$105.18', '$114.58', '$108.47', '$220.71', '$77.32', '$164.2',
       '$240.6', '$37.14', '$90.06', '$1007.71', '$1001.52', '$64.05',
       '$1350.5', '$52.59', '$48.6', '$63.38', '$88.34', '$58.28',
       '$133.57', '$76.06', '$152.5', '$91.55', '$72.05', '$173.12',
       '$84.44', '$56.2', '$82.68', '$96.9', '$148.84', '$230.57',
       '$136.05', '$37.73', '$38.21', '$155.15', '$45.75', '$89.27',
       '$41.35', '$24.45', '$64.4', '$85.16', '$35.57', '$104.81',
       '$108.25', '$718.57', '$154.94', '$110.77', '$27.5', '$38.44',
       '$29.74', '$62.56', '$51.07', '$211.44', '$191.42', '$68.79',
       '$311.79', '$509.38', '$25.19', '$329.66', '$51.94', '$112.09',
       '$25.2', '$55.44', '$62.69', '$229.57', '$63.33', '$90.47',
       '$32.66', '$23.01', '$36.82', '$44.83', '$91.8', '$66.63',
       '$64.34', '$66.76', '$145.99', '$111.15', '$41.92', '$51.8',
       '$91.02', '$100.36', '$25.85', '$16.2', '$61.22', '$37.46',
       '$48.9', '$348.65', '$2.82', '$112.3', '$266.01', '$140.39',
       '$47.38', '$189.27', '$100.19', '$70.34', '$149.32', '$38.77',
       '$71.87', '$42.19', '$84.53', '$153.04', '$41.77', '$43.1',
       '$75.16', '$68.95', '$38.19', '$89.18', '$35.49', '$140.09',
       '$53.24', '$74.73', '$208.73', '$28.45', '$178.61', '$19.96',
       '$103.81', '$30.85', '$50.47', '$165.73', '$70.55', '$44.55',
       '$92.16', '$91.33', '$71.91', '$153.66', '$51.23', '$56.85',
       '$34.94', '$98.96', '$72.4', '$22.87', '$21.58', '$43.77', '$95.1',
       '$101.58', '$73.31', '$96.2', '$68.21', '$116.93', '$98.49',
       '$74.32', '$24.52', '$91.92', '$48.48', '$93.57', '$79.41',
       '$41.02', '$127.76', '$58.07', '$123.78', '$116.54', '$66.4',
       '$72.02', '$35.34', '$101.04', '$46.25', '$114.0', '$409.98',
       '$55.26', '$218.28', '$131.46', '$241.06', '$56.11', '$35.98',
       '$123.03', '$60.36', '$73.35', '$77.56', '$76.07', '$137.25',
       '$171.58', '$52.15', '$108.11', '$239.27', '$92.74', '$31.1',
       '$30.64', '$133.05', '$46.46', '$40.82', '$55.31', '$80.87',
       '$45.88', '$10.43', '$69.14', '$62.44', '$38.0', '$17.16',
       '$31.17', '$61.13', '$114.26', '$206.05', '$14.45', '$21.62',
       '$53.99', '$40.75', '$96.31', '$78.22', '$100.59', '$246.35',
       '$30.75', '$258.6', '$47.41', '$19.57', '$47.54', '$149.84',
       '$53.34', '$96.48', '$95.97', '$22.64', '$64.87', '$70.85',
       '$43.0', '$15.04', '$78.66', '$38.8', '$181.22', '$146.02',
       '$32.21', '$18.75', '$19.92', '$262.37', '$15.1', '$225.37',
       '$169.28', '$43.73', '$156.15', '$209.54', '$83.92', '$87.6',
       '$42.75', '$67.0', '$147.59', '$56.05', '$21.34', '$138.0',
       '$152.75', '$381.87', '$31.92', '$95.23', '$32.07', '$114.81',
       '$62.82', '$118.37', '$126.36', '$36.55', '$107.88', '$24.66',
       '$103.53', '$65.98', '$20.08', '$111.69', '$14.01', '$16.8',
       '$98.54', '$60.34', '$71.58', '$27.57', '$47.77', '$198.79',
       '$165.46', '$162.23', '$43.99', '$59.11', '$23.86', '$74.21',
       '$73.86', '$38.86', '$334.3', '$46.05', '$95.01', '$105.79',
       '$178.35', '$58.36', '$24.0', '$15.68', '$62.79', '$133.88',
       '$79.31', '$208.42', '$40.7', '$160.62', '$16.0', '$101.36',
       '$158.97', '$150.23', '$78.38', '$54.73', '$44.28', '$601.0',
       '$33.5', '$60.03', '$79.9', '$40.0', '$85.01', '$85.39', '$256.57',
       '$74.51', '$42.68', '$119.08', '$61.99', '$152.14', '$51.79',
       '$98.74', '$39.25', '$75.21', '$32.64', '$13.38', '$55.85',
       '$250.1', '$27.91', '$26.38', '$36.61', '$15.65', '$15.85',
       '$145.29', '$33.9', '$62.49', '$22.51', '$25.43', '$47.23',
       '$136.89', '$96.2', '$324.01', '$56.01', '$24.0', '$60.38',
       '$217.52', '$252.22', '$68.47', '$75.91', '$54.4', '$46.84',
       '$66.98', '$111.95', '$174.51', '$32.88', '$61.86', '$72.32',
       '$66.67', '$18.56', '$110.15', '$72.06', '$84.44', '$33.63',
       '$38.24', '$100.39', '$92.44', '$74.34', '$169.16', '$149.38',
       '$101.32', '$110.3', '$29.52', '$144.07', '$1806.06', '$60.38',
       '$80.22', '$51.07', '$58.33', '$103.38', '$46.73', '$180.49',
       '$28.67', '$142.68', '$76.85', '$62.42', '$33.51', '$96.42',
       '$12.82', '$86.06', '$198.74', '$47.56', '$124.65', '$55.58',
       '$322.62', '$17.9', '$62.72', '$89.26', '$52.26', '$178.73',
       '$133.31', '$259.4', '$75.06', '$122.45', '$173.31', '$104.03',
       '$159.85', '$35.6', '$67.4', '$86.46', '$47.44', '$42.62',
       '$103.36', '$387.65', '$49.38', '$152.18', '$99.04', '$90.61',
       '$156.72', '$43.4', '$55.63', '$152.86', '$53.77', '$98.54',
       '$70.55', '$148.01', '$65.8', '$25.59', '$34.98', '$82.62',
       '$57.0', '$101.99', '$48.85', '$71.11', '$95.27', '$29.1',
       '$97.66', '$55.54', '$53.29', '$127.76', '$223.17', '$97.65',
       '$24.13', '$135.01', '$101.35', '$198.73', '$99.62', '$93.02',
       '$74.36', '$80.52', '$81.17', '$65.94', '$283.0', '$40.05',
       '$34.56', '$34.09', '$73.92', '$52.65', '$32.92', '$209.09',
       '$13.14', '$11.95', '$124.86', '$63.37', '$216.46', '$109.28',
       '$161.99', '$127.48', '$114.87', '$47.87', '$78.75', '$86.77',
       '$112.82', '$50.92', '$105.62', '$92.28', '$49.04', '$151.6',
       '$32.71', '$113.86', '$66.18', '$121.47', '$100.02', '$68.22',
       '$79.12', '$191.79', '$59.5', '$55.4', '$54.67', '$80.09',
       '$18.81', '$60.93', '$33.6', '$164.95', '$28.56', '$152.36',
       '$113.56', '$169.28', '$42.44', '$29.8', '$62.82', '$41.26',
       '$70.24', '$76.3', '$115.53', '$50.71', '$71.51'], dtype='<U8')